.c-client {
	width: 100%;
	margin: 0 auto;

	@include media(l) {
		width: 85%;
		max-width: 48rem;
	}

	h2 {
		text-align: left;
		margin-bottom: rem(60);
	}
}

.c-client__logo-items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.c-client__logo-item {
	max-width: rem(240);
	width: 50%;
	padding: rem(10) rem(20);
}
