#SecretTrap {
	display: none;
}

#sendButton {
	border: 1px solid $white;
	background: transparent;
	color: $white;
	width: 16%;
	float: left;

	@include roboto(2);

	&:hover {
		background: $pink-overlay;
	}
}

.c-form {
	h3 {
		text-align: left;
		margin-bottom: rem(10);
	}
	input,
	textarea {
		width: 100%;
		margin-bottom: rem(20);
	}

	input {
		border: 0;
		height: rem(32);

		&:focus {
			outline: 3px solid $blue;
		}
	}

	textarea:focus {
		outline: 3px solid $blue;
	}
}
