.c-main {
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: flex;
	box-sizing: border-box;
}

.c-main__content {
	flex-grow: 1;
	text-align: center;
	justify-content: flex-start;
	display: flex;
	align-items: center;
	height: 100vh;

	// position: fixed;
}
