@include media(l) {
	.c-mouse {
		position: absolute;
		background: $pink;
		background: linear-gradient(
			90deg,
			$pink 10%,
			$blue 100%
		);
		height: rem(65);
		width: rem(65);
		transform: translate(-50%, -50%);
		pointer-events: none;
		animation: morph 10s ease-in-out infinite;
		border-top-left-radius: 50%;
		border-top-right-radius: 50% 100%;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 100% 50%;
		cursor: none;
		z-index: 100;
	}
}

.c-mouse.active {
	background: $white;
	height: rem(6);
	width: rem(6);
	pointer-events: none;
	cursor: none;
	animation: unset;
	border-radius: 50%;
}

a.active {
	text-decoration: none;
	background: $pink;
	background: linear-gradient(
		90deg,
		$pink 10%,
		$blue 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-size: 100%;
}

@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
		// background: linear-gradient(
		// 	45deg,
		// 	$pink 10%,
		// 	$blue 100%
		// );
	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
		// background: linear-gradient(
		// 	45deg,
		// 	$pink 10%,
		// 	$blue 100%
		// );
	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
		// background: linear-gradient(
		// 	45deg,
		// 	$pink 10%,
		// 	$blue 100%
		// );
	}
}

// @keyframes morphLite {
// 	0% {
// 		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
// 	}

// 	100% {
// 		border-radius: 50%;
// 	}
// }
