.c-project__items {
	width: 100%;

	@include media(l) {
		margin-left: 10vw;
	}
}

.c-project__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: rem(20);
	overflow: hidden;
	margin-bottom: rem(40);

	@include media(l) {
		flex-direction: row;
		align-items: unset;
		padding-right: 0;
	}
}

.c-project__content-title {
	width: 35%;

	@include media(l) {
		width: 22%;
		margin-right: rem(40);
	}
}

.c-project__content-title:after {
	display: block;
	content: '';
	height: 100%;
	border-left: 1px solid $white;
	margin-bottom: rem(30);
	width: 50%;
	margin-left: auto;
}

.c-project__content-main-image {
	margin-bottom: rem(20);
	@include ratio(2,1);
	width: 100%;
}

.c-project__content-supporting-image {
	display: none;

	@include media(l) {
		display: block;
		@include ratio(3,2);
		max-width: rem(300);
		width: 33.33%;

		img {
			@supports(object-fit: cover) {
				object-fit: cover;
			}
		}
	}
}

.c-project__content-image {
	display: flex;
	width: 100%;
	position: relative;

	@include media(l) {
		flex-direction: column;
		width: 75%;
	}
}

.c-project__content-primary {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.c-project__link {
	display: flex;

	a {
		@include body();
		font-size: rem(12);
		text-decoration: none;
		position: absolute;
		bottom: 0;
	}

	@include media(l) {
		position: relative;

		a {
			transform-origin: 0 bottom;
			transform: rotate(90deg);
			width: 200px;
			z-index: 100;
			position: absolute;
			bottom: 185px;
			left: -30px;
		}
	}
}

.c-project__link a:before {
	display: inline-block;
	border-bottom: 1px solid $white;
	content: '';
	width: rem(20);
	margin-right: rem(4);
}

.c-project__subtitle {
	margin-bottom: rem(20);

	@include media(l) {
		margin-bottom: rem(30);
	}
}
