.c-project__items {
	width: 100%;
	max-width: 48rem;

	@include media(l) {
		margin: 0 auto;
	}
}

.c-project__item {
	width: 100%;

	@include media(l) {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.c-project__item--even {
	@include media(l) {
		justify-content: flex-end;
		align-items: flex-end;
		margin-left: auto;
		margin-top: rem(-100);
	}
}

.c-project__content-title:after {
	display: block;
	content: '';
	min-height: rem(110);
	border-left: 1px solid $white;
	margin-bottom: rem(30);
	width: 50%;
	margin-left: auto;

	@include media(l) {
		min-height: rem(270);
	}
}

.c-project__content-supporting-image {
	@include ratio(2,1.35);
	max-width: rem(300);
	width: 50%;

	img {
		@supports(object-fit: cover) {
			object-fit: cover;
		}
	}
}

.c-project__content-image {
	display: flex;
	flex-direction: row;
	margin-bottom: rem(30);
}

.c-project__content-image--even {
	flex-direction: row-reverse;
}

.c-project__link {
	margin-bottom: rem(30);
	transform-origin: 0 bottom;
	transform: rotate(90deg);
	display: flex;
	margin-bottom: auto;


	a {
		@include body();
		font-size: rem(12);
		text-decoration: none;
	}
}

.c-project__link:before {
	display: block;
	border-bottom: 1px solid $white;
	content: '';
	width: rem(30);
}



.c-project__subtitle {
	margin-bottom: rem(20);

	@include media(l) {
		margin-bottom: rem(30);
	}
}
