.c-sidenav {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0 rem(20);
	flex-shrink: 0;
}

.c-sidenav__link {
	color: $white;
	text-decoration: none;
	margin: 0 rem(60) rem(10) rem(60);
}
