.c-sidenav {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-shrink: 0;
	margin: 0 rem(40);
}

.c-sidenav__list {
	flex: 1;
	text-align: left;
	margin-top: rem(60);
	padding-left: rem(20);
}

.c-sidenav__list li {
	margin-bottom: rem(20);
}

.c-sidenav__link {
	color: $white;
	text-decoration: none;

	@include body();
}
