<section class="l-section" id="about">
	<div class="c-about">
		<h3 class="typeset">{{ entry.homepageIntro }}</h3>
		<h4 class="h4 u-mb-2 u-mt-2">Tools & Technology</h4>
		<ul class="c-about__tools">
			<li>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>SCSS</li>
					<li>JS</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>jQuery</li>
					<li>ES6</li>
					<li>Vue.js</li>
					<li>Craft CMS</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>Craft Commerce</li>
					<li>Shopify</li>
					<li>Gulp / Webpack</li>
					<li>Bootstrap</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
