<section class="l-section " id="clients">
	<h2 class="h3">I'm proud to have collaborated with some great companies:</h2>
	{% set blocks = entry.clients.all() ?? null %}
	{% if blocks|length %}
		<ul class="c-client__logo-items">

			{% for block in blocks %}
				<li class="c-client__logo-item">

					{% set image = block.image.one() %}
					{% if image %}
						<div>
							<img src="{{ image.getUrl() }}" alt="{{ block.alt }}"/>
						</div>
					{% endif %}

					<p>{{ block.clientName }}</p>

				</li>
			{% endfor %}

		</ul>
	{% endif %}
</section
