<section class="l-section" id="contact">
	<div class="c-contact">
		<div class="typeset">
			<p class="c-contact__intro">
				Why not say
				<i>hello?</i>
			</p>
			<p class="c-contact__intro">
				We are always on the look out for new and
				<a href="/works">exciting</a>
				projects for people like you.
			</p>

			<p class="c-contact__intro">
				So whether you have a project in mind for a hotel or a specific brief you would like to discuss, then we can help you.
			</p>

			<p class="c-contact__intro">
				<a href="mailto:me@anthony-mooney.com">Email us</a>
				for more information or general enquiries.
			</p>
		</div>
	</div>
</section>
