<section class="c-landing js-landing">
	<div class="fade-out js-done">I</div>
	<div>
		<span>A</span>
		<span class="c-landing__partial js-flicker-1">NTHONY</span>
	</span>
	<div>
		<span>M</span>
		<span class="c-landing__partial js-flicker-2">OONEY</span>
	</div>
</section
