{% include "_includes/macros" %}

<section
	class="l-section" id="work">
	{# <h2>Selected works</h2> #}
	<div class="c-project__items js-target">
		{% for block in entry.projectCarousel %}
			{% if block.type == 'projects' %}

				{% set image = block.image.first() %}
				<div class="c-project__item">
					<div
						class="c-project__image">

						{# {{ macro.image(image ?? null)[
																														width: 100
																													]
																													}} #}

						<img src="{{ image.getUrl() }}"/>

					</div>
					<div class="c-project__details">
						<h3 class="h3 c-project__title">{{ block.projectTitle }}</h3>
						<p>Lorem ipsum</p>
						<p class="c-project__text">{{ block.text }}</p>
					</div>

				</div>
			{% endif %}
		{% endfor %}
	</div>

</section>
