<nav class="c-sidenav l-column">
	<div class="c-logo">AM</div>
    <ul>
        <li><a class="c-sidenav__link" href="">Work</a></li>
        <li><a class="c-sidenav__link" href="">About</a></li>
        <li><a class="c-sidenav__link" href="">Contact</a></li>
        <li><a class="c-sidenav__link" href="">Clients</a></li>
    </ul>
</nav>
