// =============================================================================
// Variables
// =============================================================================

// Colors
$white: #fff;
$black: #000;

$body-background-color: $black;
$body-color: $white;
$placholder-image-color: #ececec;

// Spacing
// -------------------------------------------

$base-spacing: 10;
$spacing-map: (
	1: 10,
	2: 20,
	3: 30,
	4: 40,
	5: 100,
);

// Layout
// -------------------------------------------

$global-gutter: 15;

// z-index
// -------------------------------------------

$z-index-map: (
	modal: 100,
);

// Breakpoints
// -------------------------------------------

$breakpoint-map: (
	s: only screen and (min-width: 20em),
);

// Typography
// -------------------------------------------

$base-font-size: 16;
