{#
 # Homepage
 # =============================================================================
 #}

{% extends "_layouts/standard" %}

{% block content %}
	<main id="content">
		<div class="c-main">

			{% include "_includes/components/sidenav" %}

			<div class="c-main__content l-column">
				{% include "_includes/components/intro" %}
				{% include "_includes/components/project" %}
				{% include "_includes/components/about" %}
				{% include "_includes/components/contact" %}
			</div>

		</div>
	</main>
{% endblock %}
