{#
 # Homepage
 # =============================================================================
 #}

{% extends "_layouts/standard" %}

{% block content %}
	<main id="content">
		<div class="c-main">

			{% include "_includes/components/sidenav" %}

			<div class="c-main__content l-column">

				{% if craft.app.request.getSegment(1) == '' %}
					{% include "_includes/components/intro" %}
				{% endif %}

				{% if craft.app.request.getSegment(1) == 'works' %}
					{% include "_includes/components/project" %}
				{% endif %}

				{% if craft.app.request.getSegment(1) == 'clients' %}
					{% include "_includes/components/clients" %}
				{% endif %}

				{% if craft.app.request.getSegment(1) == 'contact' %}
					{% include "_includes/components/contact" %}
				{% endif %}

				{% if craft.app.request.getSegment(1) == 'about' %}
					{% include "_includes/components/about" %}
				{% endif %}

			</div>

		</div>
	</main>
{% endblock %}
