/**
 * Typography
 */

@mixin reitam($level) {
	@include typography("reitam", $level);
	font-family: sans-serif;

	.fonts-loaded & {
		font-family: "Reitam Regular", sans-serif;
	}
}

@mixin libre($level) {
	@include typography("libre", $level);
	font-family: serif;
	font-weight: 700;

	.fonts-loaded & {
		font-family: "Libre Baskerville";
	}
}

@mixin roboto($level) {
	@include typography("roboto", $level);
	font-family: sans-serif;

	.fonts-loaded & {
		font-family: "Roboto";
	}
}

@mixin h1() {
	@include reitam(6);
}

@mixin h2() {
	@include libre(6);
}

@mixin h3() {
	@include libre(3);
	@include media(l) {
		@include libre(4);
	}
}

@mixin h4() {
	@include libre(1);
	@include media(l) {
		@include libre(2);
	}
}

@mixin body() {
	@include roboto(1);
}

@mixin body-serif() {
	@include libre(1);
}

.h1 {
	@include h1();
}

.h2 {
	@include h2();
}

.h3 {
	@include h3();
}

.h4 {
	@include h4();
}

p {
	@include body();
}

a {
	color: inherit;
	cursor: none;
}

ul li {
	@include body();
}

.typeset {
	a {
		text-decoration: none;
		background: $pink;
		background: linear-gradient(
			90deg,
			$pink 10%,
			$blue 100%
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		background-size: 100%;
	}

	p,
	li {
		font-size: 1rem;
	}

	p,
	ol,
	ul {
		margin-bottom: 1em;
	}

	ol,
	ul {
		padding-left: em(40);
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	p {
		@include h3();
		font-weight: 400;
	}
}
